<div class="main_content">
  <h1>About Us</h1>
  <h3>Our mission</h3>
  <p>
    TEAM 5 is an online art gallery dedicated to 100% customer satisfaction through providing customers with the finest
    contemporary artworks produced by world-renowned artists and art institutions.
  </p>
  <h3>Our products</h3>
  <p>
    Our products focus on contemporary European and North American fine artworks including lithographs, high-quality
    prints, original paintings, and photographs.  Our gallery includes works from famous artists such as Wassily
    Kandinsky, Henri Matisse, Mark Tobey, Morris Graves, Guy Anderson, and Paul Horiuchi.  Our gallery also acquires
    artworks from institutions such as the Northwest School of Art and the Northwest Maritime School.  Take a look at all
    we have to offer in our gallery pages and see for yourself!  Whatever artist preferences you have, you can count on
    TEAM 5 to fulfill all your artwork needs!
  </p>
  <h3>Our History</h3>
  <p>
    TEAM 5 was founded in 2013 in Houston, Texas at the University of Houston.  Originally a student-based organization
    promoting student artwork pieces at the University of Houston School of Art, TEAM 5 eventually progressed and became
    a national retailer in the selling and acquisition of famous artworks.
  </p>
</div>