<!--
  # Testimonials satic page
  #chris cruz & muhammad naviwala
  #Date Approved: 4/22/2013 by Chris Cruz & Muhammad Naviwala 
-->

<h1>StaticPages#testimonials</h1>
<p>Find me in app/views/static_pages/testimonials.html.erb</p>
