<!--
  # new page for employees using render form
  #Chris Cruz, Muhammad Naviwala
  #Date Approved: 4/22/2013 by Chris Cruz & Muhammad Naviwala 
-->

<h1>Create Employee Account</h1>

<%= render 'form' %>

<%= link_to 'Back', employees_path %>
