<!--
  # new page for owners using form render
  #Chris Cruz, Muhammad Naviwala
  #Date Approved: 4/22/2013 by Chris Cruz & Muhammad Naviwala 
-->

<h1>Create Owner Account</h1>

<%= render 'form' %>

<%= link_to 'Back', owners_path %>
