<!--
  # CSO show page
  #Chris Cruz, Muhammad Naviwala
  #Date Approved: 4/22/2013 by Chris Cruz & Muhammad Naviwala 
-->

<p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_cso_path(@cso) %> |
<%= link_to 'Back', csos_path %>
